<%= render 'shared/banner' %>
<div class="container">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <%= render partial: 'card-trip', locals: {cocktail: cocktail} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

