<div class="container">
  <h1>What add?</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Why the devil not?", class: "btn btn-primary"%>
  <% end %>


</div>
